.popup__input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 13px;
  color: #000;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}