@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

.body {
  background-color: #000;
}
.page {
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 45px 200px 60px;
}

.header {
  width: 100%;
  height: 74px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 142px;
  height: 33px;
  background-image: url('./images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.profile {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  margin: 40px auto 50px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "name button"
    "profession profession";
  gap: 16px 18px;
}

.profile__info-name {
  margin: 0;
  grid-area: name;
  /* max-width: 294px; */
  align-self: end;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profile__info-edit-button {
  padding-bottom: 4px;
  grid-area: button;
  background-image: url('./images/edit-button.svg');
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align-self: end;
}

.profile__info-profession {
  margin: 0;
  grid-area: profession;
  /* max-width: 336px; */
  color: #fff;
  font-family: Inter;
  font-style: regular;
  font-size: 18px;
  line-height: 22px;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  margin-left: auto;
  align-self: center;
  background-image: url('./images/plus-sign.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.elements-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 17px;
  /* row-gap: 20px; */
}

.element {
  width: 282px;
  height: 361px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
}

.element__image {
  border-radius: 10px 10px 0 0;
}

.element__text-block {
  padding: 25px 17px 31px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element__text {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.element__heart-sign {
  width: 22px;
  height: 19px;
  background-image: url('./images/heart.svg');
}

.footer {
  margin-top: 66px;
}
.footer__copyright {
  margin: 0;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}