@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

.body {
  background-color: #000;
}
.page {
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 45px 200px 60px;
}

.header {
  width: 100%;
  height: 74px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 142px;
  height: 33px;
  background-image: url('./images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.profile {
  display: flex;
  width: 100%;
  margin: 40px auto 50px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "name button"
    "profession profession";
  gap: 16px 18px;
}

.profile__info-name {
  margin: 0;
  grid-area: name;
  /* max-width: 294px; */
  align-self: end;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profile__info-edit-button {
  padding-bottom: 4px;
  grid-area: button;
  background-image: url('./images/edit-button.svg');
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align-self: end;
}

.profile__info-edit-button:hover {
  opacity: 0.6;
}

.profile__info-profession {
  margin: 0;
  grid-area: profession;
  color: #fff;
  font-family: Inter;
  font-style: regular;
  font-size: 18px;
  line-height: 22px;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  margin-left: auto;
  box-sizing: border-box;
  align-self: center;
  background-image: url('./images/plus-sign.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.elements-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 17px;
}

.element {
  width: 282px;
  height: 361px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
}

.element__image {
  border-radius: 10px 10px 0 0;
}

.element__text-block {
  padding: 25px 17px 31px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element__text {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.element__heart-sign {
  width: 22px;
  height: 19px;
  background-image: url('./images/heart.svg');
}

.element__heart-sign:hover {
  opacity: 0.5;
}

.footer {
  margin-top: 66px;
}
.footer__copyright {
  margin: 0;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup-open {
  display: flex;
}

.popup__content {
  width: 430px;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  font-family: 'Inter', 'Arial', sans-serif;
}

.popup__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup__close {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url('./images/close-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  right: -40px;
  top: -40px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__title {
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.popup__submit {
  width: 100%;
  padding: 18px 0;
  background-color: #000;
  color: #fff;
  outline: none;
  border-radius: 2px;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.popup__submit:hover {
  opacity: 0.8;
}

.popup__input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 13px;
  color: #000;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.popup__input_type_name {
  margin-top: 54px;
}

.popup__input_type_profession {
  margin: 30px 0 48px;
}

@media (max-width: 1024px) {
  .page {
    padding: 28px 20px 36px;
    box-sizing: border-box;
  }
  .profile {
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
}

@media (max-width: 320px) {
  .page {
    padding: 28px 0 36px;
    box-sizing: border-box;
  }

  .header {
    width: 100%;
    height: 56px;
  }

  .header__logo {
    width: 103px;
    height: 24px;
    margin-left: 27px;
  }

  .profile {
    margin: 42px auto 36px;
    flex-direction: column;
    align-items: center;
    padding: 0 19px;
    box-sizing: border-box;
  }

  .profile__avatar {
    margin: 0 0 26px 0;
  }

  .profile__info {
    width: 100%;
    display: grid;
    grid-template-columns: 235px 37px;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "name button"
      "profession profession";
    gap: 8px 10px;
  }
  
  .profile__info-name {
    font-size: 27px;
    line-height: 33px;
    justify-self: end;
  }

  .profile__info-edit-button {
    padding-bottom: 14px;
    width: 18px;
    height: 18px;
  }

  .profile__info-profession {
    font-size: 14px;
    line-height: 17px;
    justify-self: center;
  }

  .profile__add-button {
    width: 100%;
    height: 48px;
    margin: 32px 0 0;
  }
  
  .elements-list {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    margin-top: 50px;
    padding: 0 19px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }

  .popup__content {
    max-width: 282px;
    padding: 25px 22px;
  }

  .popup__close {
    width: 20px;
    height: 20px;
    right: -1px;
    top: -40px;
  }

  .popup__title {
    font-size: 18px;
  line-height: 22px;
  }

  .popup__submit {
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0;
  }

  .popup__input_type_name {
    margin-top: 75px;
  }
  
  .popup__input_type_profession {
    margin: 30px 0 45px;
  }
}