.profile__info-edit-button {
  margin-bottom: 4px;
  padding: 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  grid-area: button;
  background-image: url('../../../images/vector.svg');
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  background-color: transparent;
  align-self: end;
  cursor: pointer;
  transition: opacity 0.7s;
}
.profile__info-edit-button:hover {
  opacity: 0.6;
}
@media (max-width: 360px) {
    .profile__info-edit-button {
      margin-bottom: 8px;
      background-size: 7.5px 7.5px;
      width: 18px;
      height: 18px;
      }
}