.elements__elements-list {
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 17px;
  list-style-type: none;
}
@media (max-width: 620px) {
  .elements__elements-list {
    flex-direction: column;
    align-items: center;
  }
}
