.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "name button"
    "profession profession";
  gap: 16px 18px;
}
@media (max-width: 360px) {
    .profile__info {
        width: 100%;
        grid-template-columns: 235px 37px;
        gap: 8px 10px;
      }
}