.footer {
  margin-top: 66px;
}
@media (min-width: 1281px) {
  .footer {
    margin-left: calc((100% - 880px) / 2);
  }
}
@media (max-width: 320px) {
    .footer {
        margin-top: 50px;
        padding: 0 19px;
      }
}