.error-message {
  padding: 0;
  margin: 5px 0 0;
  min-height: 30px;
  visibility: visible;
  color: #FF0000;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}